<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/common/template">

<body>

<section id="main-content" layout:fragment="content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <aside class="profile-nav col-lg-3">
                <section class="panel">
                    <div class="user-heading round">
                        <form id="user_form_headImg" method="post" enctype="multipart/form-data" action="">
                            <input id="user_input_headImg" type="file" name="file" style="visibility: hidden">
                            <a type="file" name="file" onclick="uploadHeadImg()">
                                <img src="../../static/img/profile-avatar.jpg" alt="">
                            </a>
                        </form>
                        <h1><span sec:authentication="principal.cnname"></span></h1>
                        <p><span sec:authentication="principal.email"></span></p>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                        <li><a th:href="@{/admin/profile}"> <i class="icon-user"></i> 详 细</a></li>
                        <li><a href="profile-activity.html"> <i class="icon-calendar"></i> 密 码</a></li>
                        <li class="active"><a th:href="@{/admin/profile-edit}"> <i class="icon-edit"></i> 编 辑</a>
                        </li>
                    </ul>

                </section>
            </aside>
            <aside class="profile-info col-lg-9">
                <section class="panel">
                    <div class="bio-graph-heading">
                        编辑个人信息
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>设置</h1>
                        <!--method="post" th:action="@{/admin/users/update}"-->
                        <form id="user_edit_form" class="form-horizontal" role="form" method="post"
                              enctype="multipart/form-data"
                              th:action="@{/admin/users/update}">
                            <input name="id" th:value="${#authorization.authentication.principal.id}" hidden>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">账号 </label>
                                <div class="col-lg-6">
                                    <input readonly name="username"
                                           th:value="${#authorization.authentication.principal.username}"
                                           type="text" class="form-control" id="l-name" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">用户名</label>
                                <div class="col-lg-6">
                                    <input type="text" name="cnname"
                                           th:value="${#authorization.authentication.principal.cnname}"
                                           class="form-control" id="f-name" placeholder=" ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">手机号码 </label>
                                <div class="col-lg-6">
                                    <input type="text" name="mobilePhone"
                                           th:value="${#authorization.authentication.principal.mobilePhone}"
                                           class="form-control" id="c-name" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">电子邮箱 </label>
                                <div class="col-lg-6">
                                    <input type="text" name="email"
                                           th:value="${#authorization.authentication.principal.email}"
                                           class="form-control" id="email" placeholder=" ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">用户角色 </label>
                                <div class="col-lg-6">
                                    <select name="roleIds" id="selectUserRoles"
                                            class="selectpicker show-tick form-control" multiple
                                            data-live-search="false">
                                        <div th:each="role:${#authorization.authentication.principal.roles}">
                                            <option th:value="${role.id}" th:text="${role.name}">1</option>
                                        </div>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-success" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

            </aside>
        </div>

    </section>
    <div class="modal fade bs-example-modal-sm" id="permission-model" tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <div id="user_update_mpdel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="user_update_model_p"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>


<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script>
        $(function () {
            let text = $('#selectUserRoles').text();
            $('#selectUserRoles').selectpicker({
                title: text
            });

            //更新完毕刷新文档
            $('#user_update_mpdel').on('hidden.bs.modal', function (e) {
                location.reload();
            })
        });

        $('form#user_edit_form').submit(function (e) {
            e.preventDefault();
            let user = $('#user_edit_form').serialize();
            $.ajax({
                    type: "POST",
                    url: "/admin/users/update",
                    data: user,
                    success: function (res) {
                        if (res.code === 0) {
                            console.log('1');
                            $('#user_update_mpdel').modal('show');
                            $('#user_update_model_p').html(res.data);
                        }
                    },
                    error: function () {
                        console.log('请求失败！');
                    }
                }
            )
        });

        function uploadHeadImg() {
            let user_input_headImg = $('#user_input_headImg');
            user_input_headImg.click();
            user_input_headImg.change(function (e) {
                if($(this).val() === ''){
                    return false;
                }
                let formData = new FormData(this);
                console.log(formData);
                $('#user_form_headImg').submit(function (e) {
                    console.log('xxx');
                    e.preventDefault();
                    // $.ajax({
                    //         type: "POST",
                    //         url: "/admin/users/update",
                    //         data: user,
                    //         success: function (res) {
                    //             if (res.code === 0) {
                    //                 console.log('1');
                    //                 $('#user_update_mpdel').modal('show');
                    //                 $('#user_update_model_p').html(res.data);
                    //             }
                    //         },
                    //         error: function () {
                    //             console.log('请求失败！');
                    //         }
                    //     }
                    // )
                });
                $(this).val('');
            })
        }
    </script>
</th:block>

</body>
</html>
