<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/common/template">
<body>
<section id="main-content" layout:fragment="content">
    <section class="wrapper" th:fragment="user-section" id="user-section">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading" style="border-bottom:0px">
                        <div>
                            <div style=" float: left;width: 120px"><a class="btn btn-compose" data-toggle="modal" href="#user-model">添加用户</a></div>
                            <div style=" float: right;"><input id="user_input_search" onkeypress="if(event.keyCode==13) {search($(this).val())}" class="form-control search" name="keyword" placeholder="用户名称" type="text"></div>

                            <div class="modal fade" id="user-model" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="系统用户" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;
                                            </button>
                                            <h4 class="modal-title">系统用户</h4>
                                        </div>
                                        <div id="single-user-model" class="modal-body">
                                            <form class="form-horizontal" role="form" method="post"
                                                  th:action="@{/admin/users/renew}">
                                                <input id="user_input_id" type="hidden" name="id" >
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">用户名</label>
                                                    <div class="col-lg-10">
                                                        <input id="user_input_cnname"  type="text"
                                                               class="form-control"
                                                               name="cnname">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">账号</label>
                                                    <div class="col-lg-10">
                                                        <input id="user_input_username"  type="text"
                                                               name="username" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">密码</label>
                                                    <div class="col-lg-10">
                                                        <input id="user_input_password"  type="text"
                                                               name="password" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">电子邮件</label>
                                                    <div class="col-lg-10">
                                                        <input id="user_input_email"
                                                               name="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">手机号码</label>
                                                    <div class="col-lg-10">
                                                        <input id="user_input_telephone"
                                                               name="telephone" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button type="submit" class="btn btn-send">保存</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </div>
                    </header>
                    <table class="table table-striped table-advance table-hover" style="margin-top: 60px">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th><i class="icon-bullhorn"></i> 用户名</th>
                            <th><i class="icon-bookmark"></i> 账号</th>
                            <th><i class="icon-bookmark"></i> 密码</th>
                            <th class="hidden-phone"><i class="icon-question-sign"></i> 电子邮件</th>
                            <th><i class="icon-bookmark"></i> 手机号码</th>
                            <th><i class="icon-edit-sign"></i> 操作</th>
                        </tr>
                        </thead>
                        <tbody th:if="${result != null} ">
                        <tr th:each="user,iterStat:${result.list}">
                            <td th:text="${iterStat.count}"></td>
                            <td><span th:text="${user.cnname}"></span></td>
                            <td><span th:text="${user.username}"></span></td>
                            <td><span th:text="${user.password}"></span></td>
                            <td class="hidden-phone"><span th:text="${user.email}"></span></td>
                            <td><span th:text="${user.telephone}"></span></td>
                            <td>
                                <a th:value="${user.id}" class="btn btn-primary btn-xs" data-toggle="modal"
                                   href="#user-model" th:onclick="'javascript:getUserById(\''+${user.id}+'\');'"><i
                                        class="icon-pencil"></i></a>
                                <button id="user-btn-delete" th:value="${user.id}" class="btn btn-danger btn-xs"
                                        th:onclick="'javascript:deleteUserById(\''+${user.id}+'\');'"><i
                                        class="icon-trash "></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- page end-->

        <nav aria-label="Page navigation" class="navbar navbar-default navbar-fixed-bottom"
             style="margin-left: 50%">
            <ul class="pagination" th:if="${result != null}">
                <li th:disabled="${result.hasPreviousPage}">
                    <a href="#" aria-label="Previous"
                       th:onclick="'javascript:getUsersByPages(\''+${result.prePage}+'\');'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(1,result.pages)}">
                    <a href="#" th:onclick="'javascript:getUsersByPages(\''+${page}+'\');'"><span
                            th:text="${page}"></span></a>
                </li>
                <li th:disabled="${result.hasNextPage}">
                    <a href="#" aria-label="Next"
                       th:onclick="'javascript:getUsersByPages(\''+${result.nextPage}+'\');'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</section>

<th:block layout:fragment="script">

    <script>

        $(function () {
            search("");
        });

        function search(keyword) {
            //加载用户角色集合
            axios.get('/admin/users/getAll',{
                params: {
                    keyword: keyword
                }
            })
                .then(function (response) {
                    if (response.status === 200) {
                        $('#user-section').replaceWith(response.data);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        let getUsersByPages = function (page) {
            //加载用户角色集合
            axios.get('/admin/users/getAll', {
                params: {
                    page: page
                }
            })
                .then(function (response) {
                    $('#user-section').replaceWith(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                });
        };

        let deleteUserById = function (id) {
            if (id == null || id === '') {
                return false;
            }
            axios.delete('/admin/users/deleteById', {
                params: {
                    id: id
                }
            })
                .then(function (response) {
                    $('#user-section').replaceWith(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                });
        };

        let updateUserById = function (id) {
            if (id == null || id === '') {
                return false;
            }
            axios.post('/admin/users/update', {
                params: {
                    id: id
                }
            })
                .then(function (response) {
                    $('#user-section').replaceWith(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                });
        };

        let getUserById = function (id) {
            if (id == null || id === '') {
                return false;
            }
            axios.get('/admin/users/getUserById', {
                params: {
                    id: id
                }
            })
                .then(function (response) {
                    let user = response.data.data;
                    let user_input_id = $('#user_input_id');
                    let user_input_cnname = $('#user_input_cnname');
                    let user_input_username = $('#user_input_username');
                    let user_input_password = $('#user_input_password');
                    let user_input_telephone = $('#user_input_telephone');
                    let user_input_email = $('#user_input_email');
                    user_input_id.val(user.id);
                    user_input_cnname.val(user.cnname);
                    user_input_username.val(user.username);
                    user_input_password.val(user.password);
                    user_input_telephone.val(user.telephone);
                    user_input_email.val(user.email);
                })
                .catch(function (error) {
                    console.log(error);
                });
        };

    </script>
</th:block>

</body>
</html>
